<div class="container">
    <h1 class="text-center">Jeu de mémoire</h1>

    <div id="launchGame">
        <form class="mx-auto w-75" method="POST" action="/game">
            <div class="form-group">
                <label for="launchGamePseudoInput">Votre nom</label>
                <input type="text" id="launchGamePseudoInput" placeholder="Ex: John DOE" class="form-control" name="pseudo">
            </div>
            <div class="d-flex">
                <button type="submit" class="mx-auto">Jouer !</button>
            </div>
        </form>
    </div>

    <div class="d-flex flex-column" id="scoreBoard">
        <h2 class="text-center">Podium</h2>
        <div class="d-flex justify-content-around">

            {{#each games}}
                <div class="podium-card d-flex flex-column">
                    <i class="fa-solid fa-star text-silver m-auto"></i>
                    <span class="m-auto">{{ user.pseudo }}</span>
                </div>
                {{!-- <div class="podium-card d-flex flex-column">
                    <i class="fa-solid fa-star text-silver m-auto"></i>
                    <span class="m-auto">{{ user.pseudo }}</span>
                </div>
                <div class="podium-card d-flex flex-column">
                    <i class="fa-solid fa-star text-silver m-auto"></i>
                    <span class="m-auto">{{ user.pseudo }}</span>
                </div> --}}
            {{/each}}
        </div>
        <table>
            <thead>
                <th>Position</th>
                <th>Score</th>
                <th>Nom</th>
            </thead>
            <tbody>
                {{#each games}}

                    <tr>
                        <td>#{{@index}}</td>
                        <td>{{this}}</td>
                        <td>{{this.time}}</td>
                    </tr>

                {{/each}}
            </tbody>
        </table>
    </div>

</div>